<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGrhvyQEFQj-CZm-qouTd7d6Fb_rpoVSk</string>
	<key>GCM_SENDER_ID</key>
	<string>136358492184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yashi.Roomie</string>
	<key>PROJECT_ID</key>
	<string>roomie-app-ffd2e</string>
	<key>STORAGE_BUCKET</key>
	<string>roomie-app-ffd2e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136358492184:ios:b6d48ad52d180fcc4aab6d</string>
</dict>
</plist>